PORT=4000
MONGODB_URI=mongodb+srv://grandmascare:grandmascare_password@cluster0.5uftxlt.mongodb.net/grandmascareDB?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=grandmascare_dev_secret_change_me
CLIENT_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@grandmascare.com
ADMIN_PASSWORD=grandmascare

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqbcqeu6f
CLOUDINARY_API_KEY=816142474224292
CLOUDINARY_API_SECRET=fGtgwdtF4ZibjscynaqZmXwCH58
