PORT=4000
MONGODB_URI=mongodb+srv://grandmascare:grandmascare@cluster0.5uftxlt.mongodb.net/grandmascareDB?retryWrites=true&w=majority

JWT_SECRET=change_me
CLIENT_ORIGIN=http://localhost:5173

# Optional seed admin
ADMIN_EMAIL=admin@grandmascare.com
ADMIN_PASSWORD=change_me

